<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.np_fb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/picture1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DMainActivity"></activity>
        <activity android:name=".RMainActivity"></activity>
        <activity android:name=".CoMainActivity"></activity>
        <activity android:name=".SMainActivity"></activity>
        <activity android:name=".R3MainActivity"></activity>
        <activity android:name=".ButtMainActivity"></activity>
        <activity android:name=".TenMainActivity"></activity>
        <activity android:name=".CotwoMainActivity"></activity>
        <activity android:name=".finalSplashScreen"></activity>


    </application>
</manifest>
